<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
	http://www.springframework.org/schema/websocket
	http://www.springframework.org/schema/websocket/spring-websocket-4.3.xsd">
	
	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**" location="/resources/*"/>

	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="com.etimechen.controller"/>
	<context:component-scan base-package="com.etimechen.component"/>
	<context:component-scan base-package="com.etimechen.websocket"/>
	<context:component-scan base-package="com.etimechen.task"/>
	
	<!-- 定时任务 start -->
	<task:scheduled-tasks>
		<task:scheduled ref="task" method="irrigation" cron="0 */1 * * * ?"/>		
	</task:scheduled-tasks>
	<!-- 定时任务 end -->
	
	<!-- websocket start-->	
	<bean id="websocket" class="com.etimechen.websocket.MyWebSocketHandle"/>
	<websocket:handlers allowed-origins="*">  
		<websocket:mapping path="/websocket" handler="websocket"/>  
		<websocket:handshake-interceptors>  
			<bean class="com.etimechen.websocket.HandshakeInterceptor"/>  
		</websocket:handshake-interceptors>  
	</websocket:handlers>
	<!-- websocket end --> 
	
	<!-- json -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list >
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<mvc:default-servlet-handler />
	
	<!-- 全局异常配置 start -->     
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">         
		<property name="statusCodes">     
			<props>     
				<prop key="errors/error">500</prop>     
				<prop key="errors/404">404</prop>     
			</props>     
		</property>     
		<!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->     
		<property name="warnLogCategory" value="WARN"></property>     
		<!-- 默认HTTP状态码 -->     
		<property name="defaultStatusCode" value="500"></property>     
	</bean>     
	<!-- 全局异常配置 end -->
	
	<!-- mvc拦截器 start -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.etimechen.component.interceptor.MethodParamInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- mvc拦截器 end -->
	
	<!-- 对模型视图添加前后缀 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/" p:suffix=".jsp"/>
</beans>